<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlayerInitMoveSpeed" value="5" />
    <add key="PlayerInitThrowDistance" value="10" />
    <add key="PlayerInitSightRange" value="9" />

    <add key="ItemMoveSpeed" value="10" />

    <add key="RunnerTalentExtraMoveSpeed" value="2" />

    <add key="StrenthTalentExtraThrowDistance" value="5" />

    <add key="TigerShoeExtraMoveSpeed" value="2" />

    <add key="SpeedBuffExtraMoveSpeed" value="5" />
    <add key="SpeedBuffDuration" value="20000" />

    <add key="StrenthBuffExtraThrowDistance" value="10" />
    <add key="StrenthBuffDuration" value="40000" />

    <add key="TeleScopeExtraSightRange" value="4" />

    <add key="WaveGlueExtraMoveSpeed" value="-3" />
    <add key="WaveGlueDuration" value="30000" />

    <add key="MineScore" value="-50"/>

    <add key="TrapStunDuration" value="5000"/>

    <add key="TaskTimeLimit" value="60000"/>
    <add key="TaskRefreshTime" value="8000"/>

    <add key="FoodPointInitRefreshTime" value="10000"/>

    <add key="ToolRefreshTime" value="10000"/>

    <add key="AppleScore" value="10"/>
    
    <add key="ApplePotato" value="Banana"/>
    <add key="BananaTime" value="2000"/>
    <add key="BananaScore" value="20"/>

    <add key="AppleBanana" value="DarkDish"/>
    
    <add key="DarkDishTime" value="5000"/>

  </appSettings>
</configuration>