<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlayerInitMoveSpeed" value="5" />
    <add key="PlayerInitThrowDistance" value="10" />
    <add key="PlayerInitSightRange" value="9" />
    
    <add key="TigerShoeExtraMoveSpeed" value="2" />
    
    <add key="RunnerTalentExtraMoveSpeed" value="2" />
    
    <add key="SpeedBuffExtraMoveSpeed" value="5" />
    <add key="SpeedBuffDuration" value="10000" />

    <add key="StrenthTalentExtraThrowDistance" value="5" />
    
    <add key="StrenthBuffExtraThrowDistance" value="10" />
    <add key="StrenthBuffDuration" value="40000" />

    <add key="TeleScopeExtraSightRange" value="4" />

  </appSettings>
</configuration>